.hostVan{
    border: unset;
    border-radius: 10px;
    height: 150px;
    padding: 3px 0;
    margin: 20px 0;
    background-color: white;
}

.hostVan img{
    border: unset;
    border-radius: 10px;
    object-fit: cover;
    height: 100px;
    width: 150px;
    float: left;
    margin: 20px;
    margin-right: 40px;
}
